---
- name: Create validator keys
  copy:
    dest: "/opt/app/services/{{ validator_service_name }}/launchpad/{{ item.name }}"
    content: "{{ item.content }}"
    owner: "2000"
    group: "2000"
    mode: 0700
  become: yes
  with_items: "{{ validator_keys }}"

- name: Creating expect script for import
  copy:
    dest: "/opt/app/import/lighthouse_validator_import.sh"
    content: |
      #!/usr/bin/expect

      set timeout -1
      set validator_password [lindex $argv 0];

      if {[ llength $validator_password ] == 0 } {
         exit
      }

      spawn sh -c { sudo docker run --rm -it \
                     -e DEBUG_LEVEL=debug \
                     -e NETWORK=prater \
                     -e DATADIR="/opt/app/validator" \
                     -e DIRECTORY="/opt/app/launchpad" \
                     -v "/opt/app/services/{{ validator_service_name }}/validator":"/opt/app/validator" \
                     -v "/opt/app/services/{{ validator_service_name }}/launchpad":"/opt/app/launchpad" \
                     --user "2000":"2000" \
                     --net "stereum" \
                     --entrypoint "/opt/app/start/import-launchpad-wallet.sh" \
                     validator_image
                  }

      expect {
          "Enter the keystore password" {
            send "$validator_password\r"
            sleep 3
            set results $expect_out(buffer)
            if {[regexp -nocase "Invalid password" $results]} {
              exit
            } elseif {[regexp -nocase "Skipping import of keystore for existing public key" $results]} {
              exit
            }
            exp_continue
          }
      }
    owner: "2000"
    group: "2000"
    mode: 0700
  become: yes

- name: Stop validator service
  docker_container:
    name: "stereum-{{ validator_service_name }}"
    state: stopped
  become: yes

- name: Create validator_image from validator service
  shell: "docker commit 'stereum-{{ validator_service_name }}' validator_image"
  become: yes

- name: Run validator import
  command: "./lighthouse_validator_import.sh {{ validator_password | quote }}"
  args:
    chdir: /opt/app/import
  changed_when: false  
  become: yes
