---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: c7198c08-391c-11ed-8a07-bb001d9e628d
    ssv_service: c7b8fc8e-391c-11ed-bc41-8358d353a687
    geth_service: 51f2ded8-391d-11ed-9647-dfe8909ccb38
    ssv_config: |
      eth2:
        Network: "prater"
        BeaconNodeAddr: "http://stereum-{{ beacon_service }}:9596"
      eth1:
        ETH1Addr: "ws://stereum-{{ geth_service }}:8546"
      OperatorPrivateKey: ""
      global:
        LogLevel: "info"
      MetricsAPIPort: 15000
  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    - name: Create SSV config file
      file:
        path: "/opt/app/services/{{ ssv_service }}/data/"
        state: directory
        recurse: yes
        owner: "2000"
        group: "2000"
      become: yes

    - name: Write SSV configuration
      ansible.builtin.copy:
        content: "{{ ssv_config }}"
        dest: "/opt/app/services/{{ ssv_service }}/data/config.yaml"
        owner: "2000"
        group: "2000"
        mode: 0644
      become: yes

    # geth service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: GethService
              id: "{{ geth_service }}"
              image: "ethereum/client-go:{{ stereum_static.defaults.versions.geth }}"
              ports:
                - 0.0.0.0:30303:30303/tcp
                - 0.0.0.0:30303:30303/udp
              entrypoint: ["geth"]
              env: {}
              command:
                - --goerli
                - --http
                - --datadir=/opt/app/geth
                - --http.addr=0.0.0.0
                - --http.vhosts=*
                - --http.api="engine,eth,web3,net,debug"
                - --http.corsdomain=*
                - --ws
                - --ws.port=8546
                - --ws.addr=0.0.0.0
                - --ws.api="debug,eth,net,web3"
                - --ws.origins=*
                - --authrpc.addr=0.0.0.0
                - --authrpc.vhosts=*
                - --authrpc.jwtsecret=/engine.jwt
              user: "2000"
              volumes:
                - "/opt/app/services/{{ geth_service }}/data:/opt/app/geth"
                - "/opt/app/services/{{ geth_service }}/engine.jwt:/engine.jwt"

    # lodestar beacon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: LodestarBeaconService
              id: "{{ beacon_service }}"
              image: "chainsafe/lodestar:{{ stereum_static.defaults.versions.lodestar }}"
              ports:
                - 0.0.0.0:9000:9000/udp
                - 0.0.0.0:9000:9000/tcp
              env: {}
              entrypoint: ["node", "./packages/cli/bin/lodestar"]
              command:
                - beacon
                - --network=goerli
                - --dataDir=/opt/app/beacon
                - --rest.port=9596
                - --rest.namespace=*
                - --rest.address=0.0.0.0
                - --jwt-secret=/engine.jwt
                - --execution.urls=http://stereum-{{ geth_service }}:8551
              user: "2000"
              volumes:
                - "/opt/app/services/{{ beacon_service }}/lodestar/beacon:/opt/app/beacon"
                - "/opt/app/services/{{ geth_service }}/engine.jwt:/engine.jwt"
