---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: cbf9f518-8ac7-11ec-8da2-ebc33b8d2c86

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    # lh beacon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: LighthouseBeaconService
              id: "{{ beacon_service }}"
              image: "sigp/lighthouse:{{ stereum_static.defaults.versions.lighthouse }}"
              env: {}
              ports:
                - 0.0.0.0:9000:9000/tcp
                - 0.0.0.0:9000:9000/udp
                - 127.0.0.1:5052:5052/tcp
              command:
                - lighthouse
                - bn
                - --debug-level=debug
                - --network=prater
                - --datadir=/opt/app/beacon
                - --http
                - --http-address=0.0.0.0
                - --metrics
                - --metrics-port=5054
                - --metrics-address=0.0.0.0
                - --disable-upnp
                - --validator-monitor-auto
                - --slasher
                - --slasher-dir=/opt/app/slasher
                - --slasher-max-db-size=16
              entrypoint: []
              user: "2000"
              volumes:
                - "/opt/app/services/{{ beacon_service }}/beacon:/opt/app/beacon"
                - "/opt/app/services/{{ beacon_service }}/slasher:/opt/app/slasher"
