---
- name: Prepare
  hosts: all
  roles:
    - role: '../'
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml

  tasks:
    - name: Install python for Ansible (Ubuntu)
      raw: apt update && apt install -y pip ansible
      become: true
      changed_when: false
      when: ansible_distribution == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar ansible && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_distribution == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    # now let's setup the repo same way as with
    # launcher/src/backend/NodeConnection.js#prepareStereumNode()
    # only with an old tag, then update to new tag
    - file:
        path: "/opt/stereum/ansible"
        state: directory
        owner: "root"
        group: "root"
        mode: 0644
      become: yes
    - ansible.builtin.command: "{{ item }}"
      args:
        chdir: "/opt/stereum/ansible"
      with_items:
      - "git init"
      - "git remote add -f ethereum-node https://github.com/stefa2k/ethereum-node.git" # FIXME
      - "git config core.sparseCheckout true"
      - "echo 'controls' >> .git/info/sparse-checkout"
      - "git checkout 888c129fab8ea1315ead15fcb7a05d4377286ff2"

    # spin up some services to update
    - name: Write service configuration lighthouse beacon
      copy:
        dest: "/etc/stereum/services/9024aec6-12a8-456a-8096-ee7ef6f67167.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          service: LighthouseBeaconService
          command: []
          entrypoint:
          - /opt/app/start/beacon.sh
          env:
            DATADIR: /opt/app/beacon
            DEBUG_LEVEL: info
            ETH1_NODES: http://stereum-25df0439-80e6-4afe-8876-72d7718035c3:8545
            NETWORK: prater
            SLASHERDIR: /opt/app/slasher
            SLASHER_DB_SIZE: '16'
          id: 9024aec6-12a8-456a-8096-ee7ef6f67167
          image: stereum/lighthouse:v2.0.0-46
          ports:
          - 0.0.0.0:9000:9000/tcp
          - 0.0.0.0:9000:9000/udp
          volumes:
          - /opt/stereum/9024aec6-12a8-456a-8096-ee7ef6f67167/beacon:/opt/app/beacon
          - /opt/stereum/9024aec6-12a8-456a-8096-ee7ef6f67167/slasher:/opt/app/slasher
          user: 2000
          autoupdate: true
          network: prater
      become: yes

    - name: Write service configuration lighthouse validator
      copy:
        dest: "/etc/stereum/services/f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          service: LighthouseValidatorService
          command: []
          entrypoint:
          - /opt/app/start/validator.sh
          env:
            DEBUG_LEVEL: info
            NETWORK: prater
            DATADIR: /opt/app/validator
            LAUNCHPADDIR: /opt/app/launchpad
            GRAFFITI: stereum.net
            BEACON_NODES: "http://stereum-9024aec6-12a8-456a-8096-ee7ef6f67167:5052"
          id: f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379
          image: stereum/lighthouse:v2.0.1-48
          ports: []
          volumes:
          - /opt/stereum/f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379/validator:/opt/app/validator
          - /opt/stereum/f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379/launchpad:/opt/app/launchpad
          user: 2000
          autoupdate: true
          network: prater
      become: yes

    - block:
      - set_fact:
          stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
      - name: "Include manage-service"
        include_role:
          name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: false
            state: started
            configuration:
              id: 9024aec6-12a8-456a-8096-ee7ef6f67167

    - block:
      - set_fact:
          stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
      - name: "Include manage-service"
        include_role:
          name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: false
            state: started
            configuration:
              id: f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379

# EOF
