---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml

  tasks:
    # - name: Install python for Ansible (Ubuntu)
    #   raw: apt update && apt install -y pip ansible
    #   become: true
    #   changed_when: false
    #   when: ansible_facts['distribution'] == "Ubuntu"
    - name: Install apt repo deps (Ubuntu)
      apt:
        update_cache: yes
        name: software-properties-common
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Add source repository into sources list
      apt_repository:
        repo: "ppa:ansible/ansible"

    - name: Install ansible (Ubuntu)
      apt:
        update_cache: yes
        name:
          - pip
          - ansible
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar ansible && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    # now let's setup the repo same way as with
    # launcher/src/backend/NodeConnection.js#prepareStereumNode()
    # only with an old tag, then update to new tag
    - file:
        path: "/opt/stereum/ansible"
        state: directory
        owner: "root"
        group: "root"
        mode: 0644
      become: yes
    - ansible.builtin.command: "{{ item }}"
      args:
        chdir: "/opt/stereum/ansible"
      with_items:
        - "git init"
        - "git remote add -f ethereum-node https://github.com/stereum-dev/ethereum-node.git" # FIXME
        - "git config core.sparseCheckout true"
        - "echo 'controls' >> .git/info/sparse-checkout"
        - "git checkout c531dc2e89ec30c289e886fb3ff2a763e92b21d5"

    # spin up some services to update
    - name: Write service configuration lighthouse beacon
      copy:
        dest: "/etc/stereum/services/9024aec6-12a8-456a-8096-ee7ef6f67167.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          service: LighthouseBeaconService
          command:
          - lighthouse
          - bn
          - --network=prater
          - --datadir=/opt/app/beacon
          - --http
          - --http-address=0.0.0.0
          - --metrics
          - --metrics-address=0.0.0.0
          - --disable-upnp
          - --validator-monitor-auto
          entrypoint: []
          env: {}
          id: 9024aec6-12a8-456a-8096-ee7ef6f67167
          image: sigp/lighthouse:v2.0.0
          ports:
          - 0.0.0.0:9000:9000/tcp
          - 0.0.0.0:9000:9000/udp
          volumes:
          - /opt/stereum/9024aec6-12a8-456a-8096-ee7ef6f67167/beacon:/opt/app/beacon
          user: 2000
          autoupdate: true
          network: prater
      become: yes

    - name: Write service configuration lighthouse validator
      copy:
        dest: "/etc/stereum/services/f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          service: LighthouseValidatorService
          command:
          - lighthouse
          - vc
          - --debug-level=debug
          - --network=prater
          - --beacon-nodes="http://stereum-9024aec6-12a8-456a-8096-ee7ef6f67167:5052"
          - --datadir=/opt/app/validator
          - --init-slashing-protection
          - --unencrypted-http-transport
          entrypoint: []
          env: {}
          id: f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379
          image: sigp/lighthouse:v2.0.1
          ports: []
          volumes:
          - /opt/stereum/f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379/validator:/opt/app/validator
          - /opt/stereum/f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379/launchpad:/opt/app/launchpad
          user: 2000
          autoupdate: true
          network: prater
      become: yes

    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: false
            state: started
            configuration:
              id: 9024aec6-12a8-456a-8096-ee7ef6f67167

    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: false
            state: started
            configuration:
              id: f3a6cbe4-5e4b-4ba4-a0f2-2504b6750379
# EOF
