---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - name: Install pip, expect (Ubuntu)
      apt:
        update_cache: yes
        name:
          - python3-pip
          - expect
          - git
      become: true
      when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'

    - name: Install pip, expect (CentOS 8)
      yum:
        name:
          - python3-pip
          - expect
          - git
        state: latest
      become: true
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    # now let's setup the repo same way as with
    # launcher/src/backend/NodeConnection.js#prepareStereumNode()
    # only with an old tag, then update to new tag
    - file:
        path: "/opt/stereum/ansible"
        state: directory
        owner: "root"
        group: "root"
        mode: 0644
      become: yes
    - ansible.builtin.command: "{{ item }}"
      args:
        chdir: "/opt/stereum/ansible"
      with_items:
        - "git init"
        - "git remote add -f ethereum-node https://github.com/stereum-dev/ethereum-node.git"
        - "git config core.sparseCheckout true"
        - "echo 'controls' >> .git/info/sparse-checkout"
        - "git checkout 0f442c192c1fe508f6d2ef4288b56cbd0ffbfe68"
