---
- name: Verify
  hosts: all
  gather_facts: false
  tasks:
  #  mev boost logs
  - name: MEV-boost
    command: "docker logs stereum-f0521370-2313-11ed-9a9b-a745c2468767"
    register: mev_boost
    until:
      - mev_boost.stdout is search("listening on 0.0.0.0:18550")
      - mev_boost.stdout is search("using 1 relays")
      - mev_boost.stdout is not search("Invalid relay URL")
    retries: 60
    delay: 10

# EOF