---
dependency:
  name: galaxy
driver:
  name: molecule_hetznercloud
platforms:
  - name: "manage-service--besu-lighthouse--ubuntu-24.04"
    hostname: ubuntu
    server_type: cpx31
    image: ubuntu-24.04
    location: hil
#  - name: "manage-service--besu-lighthouse--centos-stream-8"
#    hostname: "centos"
#    server_type: cpx31
#    image: centos-stream-8
provisioner:
  name: ansible
  config_options:
    ssh_connection:
      ssh_args: -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=60s
  env:
    ANSIBLE_PIPELINING: "True"
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/..:./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles"
lint: |
  set -e
  yamllint .
  ansible-lint .
scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    #- idempotence
    - verify
    - destroy
