---
- name: Verify
  hosts: all
  gather_facts: false
  tasks:
  #  mev boost logs
  - name: MEV-boost
    command: "docker logs stereum-0ce6b4ac-1fe8-11ed-b9c2-bb5736e3d599"
    register: mev_boost
    until:
      - mev_boost.stdout is search("listening on 0.0.0.0:18550")
      - mev_boost.stdout is search("using 1 relays")
      - mev_boost.stdout is not search("Invalid relay URL")
    retries: 60
    delay: 10

# EOF