---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: 731c4b72-7f7c-11ec-b824-c304f53cda24
    ssv_service: f6a89270-7fa4-11ec-9378-fbd364d02350
    geth_service: b0ece243-bfce-49ea-a2d8-7986ff3bc708
    ssv_config: |
      eth2:
        Network: "prater"
        BeaconNodeAddr: "http://stereum-{{ beacon_service }}:5051"
      eth1:
        ETH1Addr: "ws://stereum-{{ geth_service }}:8546"
      OperatorPrivateKey: ""
      global:
        LogLevel: "debug"
      MetricsAPIPort: 15000

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    - name: Create SSV config file
      file:
        path: "/opt/app/services/{{ ssv_service }}/data"
        state: directory
        recurse: yes
        owner: "2000"
        group: "2000"
      become: yes

    - name: Write SSV configuration
      ansible.builtin.copy:
        content: "{{ ssv_config }}"
        dest: "/opt/app/services/{{ ssv_service }}/data/config.yaml"
        owner: "2000"
        group: "2000"
        mode: 0644
      become: yes

    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: GethService
              id: "{{ geth_service }}"
              image: "ethereum/client-go:{{ stereum_static.defaults.versions.geth }}"
              ports:
                - 0.0.0.0:30303:30303/tcp
                - 0.0.0.0:30303:30303/udp
              entrypoint: ["geth"]
              env: {}
              command:
                - --goerli
                - --http
                - --datadir=/opt/app/geth
                - --http.addr=0.0.0.0
                - --http.vhosts=*
                - --http.api="engine,eth,web3,net,debug"
                - --http.corsdomain=*
                - --ws
                - --ws.port=8546
                - --ws.addr=0.0.0.0
                - --ws.api="debug,eth,net,web3"
                - --ws.origins=*
                - --authrpc.addr=0.0.0.0
                - --authrpc.vhosts=*
                - --authrpc.jwtsecret=/engine.jwt
              user: "2000"
              volumes:
                - "/opt/app/services/{{ geth_service }}/data:/opt/app/geth"
                - "/opt/app/services/{{ geth_service }}/engine.jwt:/engine.jwt"

    # teku beacon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              id: "{{ beacon_service }}"
              service: TekuBeaconService
              image: "consensys/teku:{{ stereum_static.defaults.versions.teku }}"
              ports:
                - 0.0.0.0:9001:9001/tcp
                - 0.0.0.0:9001:9001/udp
              env:
                JAVA_OPTS: -Xmx3g
              entrypoint: []
              command: |
                /opt/teku/bin/teku
                --network=prater
                --p2p-enabled=true
                --p2p-port=9001
                --ee-endpoint=http://stereum-{{ geth_service }}:8551
                --metrics-enabled=true
                --metrics-categories=BEACON,LIBP2P,NETWORK,PROCESS
                --metrics-port=8008
                --metrics-interface=0.0.0.0
                --metrics-host-allowlist="*"
                --data-path=/opt/app/data
                --rest-api-port=5051
                --rest-api-host-allowlist="*"
                --rest-api-interface=0.0.0.0
                --rest-api-docs-enabled=true
                --rest-api-enabled=true
                --log-destination=CONSOLE
              user: "2000"
              volumes:
                - "/opt/app/services/{{ beacon_service }}/data/teku:/opt/app/data"
                - "/opt/app/services/{{ geth_service }}/engine.jwt:/engine.jwt"
