---
- name: Remove conflicting docker packages
  apt:
    name:
      - docker-engine
      - docker.io
      - docker-registry
    state: absent

- name: Install required system packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - python3-pip
      - python3-docker
      - virtualenv
      - python3-setuptools
      - gnupg2
      - pass
      - sysstat
      - python3-jmespath

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg

- name: Add Docker Repository
  apt_repository:
    repo: "deb https://download.docker.com/linux/ubuntu {{ ansible_facts['distribution_release'] }} stable"

- name: Update apt and install docker-ce
  apt:
    update_cache: yes
    name:
      - docker-ce
# EOF
