---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml

  tasks:
    - name: Update cache & os (Ubuntu)
      apt:
        update_cache: yes
        upgrade: dist
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"
    - name: Install python for Ansible (Ubuntu)
      apt:
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - name: Install p3-pip, expect (Ubuntu)
      apt:
        name:
          - python3-pip
          - expect
          - git
      become: true
      when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'

    - name: Install pip, expect (CentOS 8)
      yum:
        name:
          - python3-pip
          - expect
          - git
        state: latest
      become: true
      when: ansible_facts['distribution'] == "CentOS"
# EOF
