---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: 995c224c-82e9-11ec-9115-2349bc4566fa
    ssv_service: 99e8942a-82e9-11ec-9f76-cbc103131365
    geth_service: c41a8602-e123-4f8e-9ada-b4d471afd863
    ssv_config: |
      eth2:
        Network: "prater"
        BeaconNodeAddr: "http://stereum-{{ beacon_service }}:3500"
      eth1:
        ETH1Addr: "ws://stereum-{{ geth_service }}:8546"
      OperatorPrivateKey: ""
      global:
        LogLevel: "debug"
      MetricsAPIPort: 15000

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    - name: Create SSV config file
      file:
        path: "/opt/app/services/{{ ssv_service }}/data"
        state: directory
        recurse: yes
        owner: "2000"
        group: "2000"
      become: yes

    - name: Write SSV configuration
      ansible.builtin.copy:
        content: "{{ ssv_config }}"
        dest: "/opt/app/services/{{ ssv_service }}/data/config.yaml"
        owner: "2000"
        group: "2000"
        mode: 0644
      become: yes

    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: GethService
              id: "{{ geth_service }}"
              image: "ethereum/client-go:{{ stereum_static.defaults.versions.geth }}"
              ports:
                - 0.0.0.0:30303:30303/tcp
                - 0.0.0.0:30303:30303/udp
              entrypoint: ["geth"]
              env: {}
              command:
                - --goerli
                - --http
                - --datadir=/opt/app/geth
                - --http.addr=0.0.0.0
                - --http.vhosts=*
                - --http.api="engine,eth,web3,net,debug"
                - --http.corsdomain=*
                - --ws
                - --ws.port=8546
                - --ws.addr=0.0.0.0
                - --ws.api="debug,eth,net,web3"
                - --ws.origins=*
                - --authrpc.addr=0.0.0.0
                - --authrpc.vhosts=*
                - --authrpc.jwtsecret=/engine.jwt
              user: "2000"
              volumes:
                - "/opt/app/services/{{ geth_service }}/data:/opt/app/geth"
                - "/opt/app/services/{{ geth_service }}/engine.jwt:/engine.jwt"

    # prysm beacon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              id: "{{ beacon_service }}"
              service: PrysmBeaconService
              image: "prysmaticlabs/prysm-beacon-chain:{{ stereum_static.defaults.versions.prysm }}"
              ports:
                - 127.0.0.1:4000:4000/tcp
                - 0.0.0.0:12001:12001/udp
                - 0.0.0.0:13001:13001/tcp
              env: {}
              entrypoint: []
              command: |
                /app/cmd/beacon-chain/beacon-chain
                --accept-terms-of-use=true
                --datadir=/opt/app/beacon
                --p2p-host-ip=""
                --p2p-host-dns=""
                --rpc-host=0.0.0.0
                --rpc-port=4000
                --monitoring-host=0.0.0.0
                --grpc-gateway-host=0.0.0.0
                --grpc-gateway-port=3500
                --execution-endpoint=http://stereum-{{ geth_service }}:8551
                --prater=true
                --block-batch-limit=512
                --p2p-udp-port=12001
                --p2p-tcp-port=13001
                --genesis-state=/opt/app/genesis/prysm-prater-genesis.ssz
                --jwt-secret=/engine.jwt
              user: "2000"
              volumes:
                - "/opt/app/services/{{ beacon_service }}/prysm/beacon:/opt/app/beacon"
                - "/opt/app/services/{{ beacon_service }}/genesis:/opt/app/genesis"
                - "/opt/app/services/{{ geth_service }}/engine.jwt:/engine.jwt"
