---
dependency:
  name: galaxy
driver:
  name: molecule_hetznercloud
platforms:
  - name: "prune-geth--default--ubuntu-22.04"
    hostname: ubuntu
    server_type: cpx21
    image: ubuntu-24.04
    location: hil
#  - name: "prune-geth--default--centos-stream-8"
#    hostname: "centos"
#    server_type: cpx21
#    image: centos-stream-8
provisioner:
  name: ansible
  env:
    ANSIBLE_PIPELINING: "True"
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/..:./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles"
lint: |
  set -e
  yamllint .
  ansible-lint .
scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    #- idempotence
    - verify
    - destroy
#EOF
