---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: 11bf77ec-e01a-11ec-9e44-fbfbee39c56b

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - name: Write service configuration
      copy:
        dest: "/etc/stereum/services/{{ beacon_service }}.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          command:
            - lighthouse
            - bn
            - --debug-level=debug
            - --network=prater
            - --datadir=/opt/app/beacon
            - --http
            - --http-address=0.0.0.0
            - --metrics
            - --metrics-address=0.0.0.0
            - --disable-upnp
            - --validator-monitor-auto
            - --slasher
            - --slasher-dir=/opt/app/slasher
            - --slasher-max-db-size=16
          entrypoint: []
          env: {}
          service: LighthouseBeaconService
          id: {{ beacon_service }}
          image: "sigp/lighthouse:{{ stereum_static.defaults.versions.lighthouse }}"
          ports:
            - 0.0.0.0:9000:9000/tcp
            - 0.0.0.0:9000:9000/udp
            - 127.0.0.1:5052:5052/tcp
          volumes:
            - "/opt/stereum/lighthouse/beacon:/opt/app/beacon"
            - "/opt/stereum/lighthouse/slasher:/opt/app/slasher"
          user: 2000
          network: prater
      become: yes

    # start the container
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: false
            state: started
            configuration:
              id: "{{ beacon_service }}"
