{% if item.slashing_protection_content is defined %}
{
  "keystores": {{ item.content | to_json }},
  "passwords": {{ item.passwords | to_json }},
  "slashing_protection": {{ item.slashing_protection_content | to_json }}
}
{% else %}
{
  "keystores": {{ item.content | to_json }},
  "passwords": {{ item.passwords | to_json }}
}
{% endif %}