---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: 1929168e-e0d6-11ec-9183-97daacc21ea6

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    # teku beacon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: TekuBeaconService
              id: "{{ beacon_service }}"
              image: "consensys/teku:{{ stereum_static.defaults.versions.teku }}"
              ports:
                - 0.0.0.0:9001:9001/tcp
                - 0.0.0.0:9001:9001/udp
              env:
                JAVA_OPTS: -Xmx4g
              entrypoint: ["/opt/teku/bin/teku"]
              command:
                - --network=prater
                - --p2p-enabled=true
                - --p2p-port=9001
                - --ee-endpoint=http://10.10.0.3:8545
                - --metrics-enabled=true
                - --metrics-categories=BEACON,LIBP2P,NETWORK,PROCESS
                - --metrics-port=8008
                - --metrics-interface=0.0.0.0
                - --metrics-host-allowlist="*"
                - --metrics-publish-interval=10
                - --data-path=/opt/app/data
                - --data-storage-mode=prune
                - --rest-api-port=5051
                - --rest-api-host-allowlist="*"
                - --rest-api-interface=0.0.0.0
                - --rest-api-docs-enabled=true
                - --rest-api-enabled=true
                - --log-destination=CONSOLE
              user: "2000"
              volumes:
                - "/opt/app/services/{{ beacon_service }}/data:/opt/app/data"
