global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:

# besu
  - job_name: besu
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "BesuService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":9545") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# ssv.network
  - job_name: ssv
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "SSVNetworkService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":15000") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]
  - job_name: ssv_health
    metrics_path: /health
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "SSVNetworkService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":15000") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# geth
  - job_name: geth
    metrics_path: /debug/metrics/prometheus
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "GethService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":6060") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# reth
  - job_name: reth
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "RethService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":6060") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# lighthouse beacon
  - job_name: lighthouse_beacon
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "LighthouseBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":5054") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# lighthouse validator
  - job_name: lighthouse_validator
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "LighthouseValidatorService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":5064") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# nethermind
  - job_name: nethermind
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "NethermindService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":6060") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# nimbus beacon
  - job_name: nimbus_beacon
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "NimbusBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8008") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# nimbus validator
  - job_name: nimbus_validator
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "NimbusValidatorService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8108") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# prometheus node exporter
  - job_name: prometheus_node_exporter
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "PrometheusNodeExporterService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":9100") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# prometheus
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

# prysm beacon
  - job_name: prysm_beacon
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "PrysmBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8080") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# prysm validator
  - job_name: prysm_validator
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "PrysmValidatorService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8081") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# teku beacon
  - job_name: teku_beacon
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "TekuBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8008") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# teku validator
  - job_name: teku_validator
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "TekuValidatorService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8008") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# lodestar beacon
  - job_name: lodestar_beacon
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "LodestarBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8008") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# lodestar validator
  - job_name: lodestar_validator
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "LodestarValidatorService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":5064") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# erigon
  - job_name: erigon
    metrics_path: /debug/metrics/prometheus
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "ErigonService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":6060") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# Web3Signer
  - job_name: web3signer
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "Web3SignerService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":9001") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# ValidatorEjectorService
  - job_name: validatorejector
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "ValidatorEjectorService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8989") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# KeysAPI
  - job_name: keys-api
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "KeysAPIService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":3600") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# Charon
  - job_name: charon
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "CharonService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":3620") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# Grandine
  - job_name: grandine_beacon
    metrics_path: /metrics
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "GrandineBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":5054") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# LCOMService
  - job_name: csm_fast_metrics
    scrape_interval: 10s
    metrics_path: /metrics/fast
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "LCOMService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8000") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

  - job_name: csm_slow_metrics
    scrape_interval: 1m
    metrics_path: /metrics/slow
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "LCOMService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":8000") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# op-geth
  - job_name: op-geth
    metrics_path: /debug/metrics/prometheus
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "OpGethService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":6060") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# op-node beacon
  - job_name: op_node_beacon
    static_configs:
      - targets: [
{% set targets = [] %}
{%- for service_config in service_configs.results %}
  {%- if (service_config.content | b64decode | from_yaml).service == "OpNodeBeaconService" %}
    {%- set _ = targets.append("stereum-" ~ (service_config.content | b64decode | from_yaml).id ~ ":7300") %}
  {%- endif %}
{% endfor %}
{% if targets %}
          "{{ targets | join('",\n          "') }}"
{% endif %}
        ]

# EOF