---
- name: Read service file
  slurp:
    src: "{{ item.path }}"
  register: service_configuration_raw

- name: Parse service's configuration
  set_fact:
    service_configuration: "{{ service_configuration_raw['content'] | b64decode | from_yaml }}"
    service_configuration_text: "{{ service_configuration_raw['content'] | b64decode }}"

- name: Add Pruning Mode to Nethermind
  lineinfile:
    path: "{{ item.path }}"
    insertafter: '^command:'
    regexp: '^\s*- --Pruning.Mode='
    line: "{{ service_configuration_text | split('\n') | select('match', '^\\s*- --config.*') | first | split('-') | first }}- --Pruning.Mode=Hybrid"
  when: service_configuration.service == "NethermindService"