---
- name: Read service file
  slurp:
    src: "{{ item.path }}"
  register: service_configuration_raw

- name: Parse service's configuration
  set_fact:
    service_configuration: "{{ service_configuration_raw['content'] | b64decode | from_yaml }}"
    service_configuration_text: "{{ service_configuration_raw['content'] | b64decode }}"

- name: Besu Changes
  block:
    - name: Replace X_SNAP with SNAP
      replace:
        path: "{{ item.path }}"
        regexp: "(?i)X_SNAP"
        replace: "SNAP"
    - name: Replace X_CHECKPOINT with CHECKPOINT
      replace:
        path: "{{ item.path }}"
        regexp: "(?i)X_CHECKPOINT"
        replace: "CHECKPOINT"
    - name: Remove --engine-jwt-enabled tag
      lineinfile:
        path: "{{ item.path }}"
        regexp: "--engine-jwt-enabled"
        state: absent
  when: service_configuration.service == "NethermindService"
