---
- name: Find service configs
  find:
    paths: "/etc/stereum/services"
  register: service_config_files

- name: Include Ejector Changes
  include_tasks: ejector_changes.yaml
  loop: "{{ service_config_files.files }}"
  loop_control:
    loop_var: config_file
