---
dependency:
  name: galaxy
driver:
  name: hetznercloud
platforms:
  - name: "ssv-key-generator--default--ubuntu-22.04"
    hostname: ubuntu
    server_type: cpx21
    image: ubuntu-22.04
provisioner:
  name: ansible
verifier:
  name: ansible
scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    #- idempotence
    - lint
    - verify
    - destroy
