---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    beacon_service: 5ac8408c-9744-11ec-8b66-0f11f6579737

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    # nimbus beacon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: NimbusBeaconService
              id: "{{ beacon_service }}"
              image: "statusim/nimbus-eth2:{{ stereum_static.defaults.versions.nimbus }}"
              ports:
                - 0.0.0.0:9000:9000/tcp
                - 0.0.0.0:9000:9000/udp
                - 127.0.0.1:9190:9190/tcp
              env: {}
              entrypoint: ["/home/user/nimbus_beacon_node"]
              command:
                - --network=prater
                - --data-dir=/opt/app/beacon
                - --tcp-port=9000
                - --udp-port=9000
                - --rpc
                - --rpc-port=9190
                - --metrics
                - --metrics-port=8008
                - --metrics-address=0.0.0.0
                - --rest
                - --rest-address=0.0.0.0
                - --graffiti="stereum.net"
              user: "2000"
              volumes:
                - "/opt/app/services/{{ beacon_service }}/nimbus/beacon:/opt/app/beacon"
