---
- name: Prepare
  hosts: all
  roles:
    - role: "../"
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml
  vars:
    erigon_service: 945726da-381e-11ed-9e15-5f685d4bd0e4

  tasks:
    - name: Install python for Ansible (Ubuntu)
      apt:
        update_cache: yes
        name: pip
        state: present
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_facts['distribution'] == "CentOS"

    - include_role:
        name: "setup"

    - include_role:
        name: "configure-firewall"

    # erigon service
    - block:
        - set_fact:
            stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
        - name: "Include manage-service"
          include_role:
            name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: ErigonService
              id: "{{ erigon_service }}"
              image: "thorax/erigon:{{ stereum_static.defaults.versions.erigon }}"
              ports:
                - 0.0.0.0:30303:30303/tcp
                - 0.0.0.0:30303:30303/udp
              entrypoint: []
              env: {}
              command:
                - erigon
                - --chain=goerli
                - --datadir=/opt/app/data
                - --ws
                - --http
                - --http.vhosts=*
                - --http.corsdomain=*
                - --http.addr=0.0.0.0
                - --http.api=engine,net,eth
                - --metrics
                - --metrics.addr=0.0.0.0
                - --metrics.expensive
              user: "2000"
              volumes:
                - "/opt/app/services/{{ erigon_service }}/data:/opt/app/data"
# EOF
