---
dependency:
  name: galaxy
driver:
  name: molecule_hetznercloud
platforms:
  - name: "setup--default--ubuntu-22.04"
    server_type: cx22
    image: ubuntu-22.04
#  - name: "setup--default--centos-stream-8"
#    server_type: cx22
#    image: centos-stream-8
provisioner:
  name: ansible
  config_options:
    ssh_connection:
      ssh_args: -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=60s
  env:
    ANSIBLE_PIPELINING: "True"
lint: |
  set -e
  yamllint .
  ansible-lint .
