---
- name: Prepare
  hosts: all
  tasks:
    - name: Make sure Stereum's config path exists
      file:
        path: "/etc/stereum/services"
        state: directory
        owner: "root"
        group: "root"
        mode: 0644
      become: yes

    - name: Create TekuBeaconService config
      copy:
        dest: "/etc/stereum/services/353b6184-928a-b686-31b4-f4db2073224a.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          service: TekuBeaconService
          id: 353b6184-928a-b686-31b4-f4db2073224a
          configVersion: 2
          command:
            - --network=hoodi
            - --p2p-enabled=true
            - --p2p-port=9001
            - --p2p-advertised-port=9001
            - --ee-endpoint=http://stereum-bcedd1c7-fe2f-2c78-8e9f-9e7c6851f20e:8551
            - --ee-jwt-secret-file=/engine.jwt
            - --metrics-enabled=true
            - --metrics-port=8008
            - --metrics-interface=0.0.0.0
            - --metrics-host-allowlist=*
            - --metrics-publish-interval=10
            - --data-path=/opt/app/data
            - --data-storage-mode=minimal
            - --rest-api-port=5051
            - --rest-api-host-allowlist=*
            - --rest-api-interface=0.0.0.0
            - --rest-api-docs-enabled=true
            - --rest-api-enabled=true
            - --log-destination=CONSOLE
            - --beacon-liveness-tracking-enabled=true
            - --initial-state=https://hoodi.beaconstate.ethstaker.cc
            - --Xp2p-reworked-sidecar-recovery-enabled
            - --Xdata-storage-create-db-version=6
          entrypoint:
            - /opt/teku/bin/teku
          env:
            JAVA_OPTS: -Xmx6g
          image: consensys/teku:25.12.0
          ports:
            - 0.0.0.0:9001:9001/tcp
            - 0.0.0.0:9001:9001/udp
            - 127.0.0.1:5052:5052/tcp
            - 127.0.0.1:5051:5051/tcp
          volumes:
            - /opt/stereum/teku-353b6184-928a-b686-31b4-f4db2073224a/data:/opt/app/data
            - /opt/stereum/ethrex-bcedd1c7-fe2f-2c78-8e9f-9e7c6851f20e/engine.jwt:/engine.jwt
          user: "2000"
          autoupdate: true
          network: hoodi
          dependencies:
            executionClients:
              - service: EthrexService
                id: bcedd1c7-fe2f-2c78-8e9f-9e7c6851f20e
            consensusClients: []
            mevboost: []
            otherServices: []
      become: yes

    - name: Create db directory for Teku
      file:
        path: "/opt/stereum/teku-353b6184-928a-b686-31b4-f4db2073224a/data/beacon/db"
        state: directory
        owner: "2000"
        group: "2000"
        mode: 0755
      become: yes

    - name: Create db version file for Teku
      file:
        path: "/opt/stereum/teku-353b6184-928a-b686-31b4-f4db2073224a/data/beacon/db.version"
        state: touch
        owner: "2000"
        group: "2000"
        mode: 0755
      become: yes

    - name: Write leveldb2 to db version file
      copy:
        dest: "/opt/stereum/teku-353b6184-928a-b686-31b4-f4db2073224a/data/beacon/db.version"
        content: "leveldb2"
        owner: "2000"
        group: "2000"
        mode: 0644
      become: yes

    - name: Create GethService config
      copy:
        dest: "/etc/stereum/services/ea7db2eb-98d3-dd11-efad-e34df35350d8.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          service: GethService
          id: ea7db2eb-98d3-dd11-efad-e34df35350d8
          configVersion: 1
          command:
            - --hoodi
            - --state.scheme=path
            - --http
            - --http.api=eth,web3,net
            - --http.port=8545
            - --http.addr=0.0.0.0
            - --http.corsdomain=*
            - --http.vhosts=*
            - --ws
            - --ws.api=eth,net,web3
            - --ws.port=8546
            - --ws.addr=0.0.0.0
            - --ws.origins=*
            - --authrpc.port=8551
            - --authrpc.vhosts=*
            - --authrpc.addr=0.0.0.0
            - --authrpc.jwtsecret=/engine.jwt
            - --datadir=/opt/data/geth
            - --metrics
            - --metrics.expensive
            - --metrics.port=6060
            - --metrics.addr=0.0.0.0
          entrypoint:
            - geth
          env: {}
          image: ethereum/client-go:v1.17.0
          ports:
            - 127.0.0.1:8545:8545/tcp
            - 127.0.0.1:8546:8546/tcp
            - 0.0.0.0:30303:30303/tcp
            - 0.0.0.0:30303:30303/udp
          volumes:
            - /opt/stereum/geth-ea7db2eb-98d3-dd11-efad-e34df35350d8/data:/opt/data/geth
            - /opt/stereum/geth-ea7db2eb-98d3-dd11-efad-e34df35350d8/engine.jwt:/engine.jwt
          user: root
          autoupdate: true
          network: hoodi
          dependencies:
            executionClients: []
            consensusClients: []
            mevboost: []
            otherServices: []
      become: yes

    - name: ensure geth data directory exists
      file:
        path: "/opt/stereum/geth-ea7db2eb-98d3-dd11-efad-e34df35350d8/data/geth"
        state: directory
        owner: "2000"
        group: "2000"
        mode: 0755
      become: yes

    - name: create nodekey file for geth
      file:
        path: "/opt/stereum/geth-ea7db2eb-98d3-dd11-efad-e34df35350d8/data/geth/nodekey"
        state: touch
        owner: "2000"
        group: "2000"
        mode: 0755
      become: yes
# EOF
