---
#dependency:
#  name: galaxy
driver:
  name: docker
platforms:
  - name: "update-changes--2.3.2--ubuntu-24.04"
    image: ubuntu:noble
  # - name: "configure-updates--default--centos-8"
  #   image: geerlingguy/docker-centos8-ansible
provisioner:
  name: ansible
  env:
    ANSIBLE_PIPELINING: "True"
lint: |
  set -e
  yamllint .
  ansible-lint .
scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - destroy
