---
- name: Converge
  hosts: all
  vars_files:
  - ../../../../defaults/stereum_defaults.yaml
  vars:
    prysm_service: a4e62e72-1408-11ed-a754-d7403173d153
    nethermind_service: a52c230a-1408-11ed-8344-bfbd60108b3d

  tasks:
    # nethermind service
    - block:
      - set_fact:
          stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
      - name: "Include manage-service"
        include_role:
          name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: NethermindService
              id: "{{ nethermind_service }}"
              image: "nethermind/nethermind:{{ stereum_static.defaults.versions.nethermind }}"
              ports:
                - 0.0.0.0:30303:30303/tcp
                - 0.0.0.0:30303:30303/udp
                - 127.0.0.1:8551:8551/tcp
              entrypoint: ["./Nethermind.Runner"]
              env: {}
              command:
              - --config=goerli
              - --log=debug
              - --datadir=/opt/app/data
              - --Network.DiscoveryPort=30303
              - --Network.P2PPort=30303
              - --JsonRpc.Enabled=true
              - --JsonRpc.Host=0.0.0.0
              - --JsonRpc.JwtSecretFile=/engine.jwt
              - --Init.WebSocketsEnabled=true
              - --JsonRpc.WebSocketsPort=8546
              - --JsonRpc.EnabledModules=[web3,eth,subscribe,net]
              - --Metrics.Enabled=true
              user: "root"
              volumes:
                - "/opt/app/services/{{ nethermind_service }}/data:/opt/app/data"
                - "/opt/app/services/{{ nethermind_service }}/engine.jwt:/engine.jwt"

    # prysm beacon service
    - block:
      - set_fact:
          stereum: "{{ stereum_static | combine(stereum_args, recursive=True) }}"
      - name: "Include manage-service"
        include_role:
          name: "manage-service"
      vars:
        stereum_args:
          manage_service:
            save: true
            state: started
            configuration:
              service: PrysmBeaconService
              id: "{{ prysm_service }}"
              image: "prysmaticlabs/prysm-beacon-chain:{{ stereum_static.defaults.versions.prysm }}"
              ports:
                - 127.0.0.1:4000:4000/tcp
                - 0.0.0.0:12000:12000/udp
                - 0.0.0.0:13000:13000/tcp
              env: {}
              entrypoint: []
              command: |
                /app/cmd/beacon-chain/beacon-chain
                --accept-terms-of-use=true
                --datadir=/opt/app/beacon
                --prater=true
                --genesis-state=/opt/app/genesis/prysm-prater-genesis.ssz
                --http-web3provider=http://stereum-{{ nethermind_service }}:8551
                --jwt-secret=/engine.jwt
              user: "2000"
              volumes:
                - "/opt/app/services/{{ prysm_service }}/prysm/beacon:/opt/app/beacon"
                - "/opt/app/services/{{ prysm_service }}/genesis:/opt/app/genesis"
                - "/opt/app/services/{{ nethermind_service }}/engine.jwt:/engine.jwt"

# EOF