---
dependency:
  name: galaxy
driver:
  name: molecule_hetznercloud
platforms:
  - name: "initiate-devnet-genesis--default--ubuntu-22.04"
    server_type: cx22
    image: ubuntu-24.04
    location: hil
provisioner:
  name: ansible
  config_options:
    ssh_connection:
      ssh_args: -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=60s
  env:
    ANSIBLE_PIPELINING: "True"
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/..:./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles"
lint: |
  set -e
  yamllint .
  ansible-lint .
scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    #- idempotence
    - verify
    - destroy
