---
- name: Prepare
  hosts: all
  roles:
    - role: '../'
  vars_files:
    - ../../../../defaults/stereum_defaults.yaml

  vars:
    beacon_service: 9024aec6-12a8-456a-8096-ee7ef6f67167

  tasks:
    - name: Install python for Ansible (Ubuntu)
      raw: apt update && apt install -y pip
      become: true
      changed_when: false
      when: ansible_distribution == "Ubuntu"

    - name: Install python for Ansible (CentOS 8)
      raw: yum install -y python38 tar && yum remove -y python36
      become: true
      changed_when: false
      when: ansible_distribution == "CentOS"

    - include_role:
        name: "setup"

    - name: Write service configuration lighthouse
      copy:
        dest: "/etc/stereum/services/{{ beacon_service }}.yaml"
        owner: "root"
        group: "root"
        mode: 0644
        content: |
          name: lighthouse
          id: "{{ beacon_service }}"
          image: sigp/lighthouse:v2.1.2
          env: {}
          ports:
          - 0.0.0.0:9000:9000/tcp
          - 0.0.0.0:9000:9000/udp
          - 127.0.0.1:5052:5052/tcp
          command:
          - lighthouse
          - bn
          - --debug-level=info
          - --network=prater
          - --eth1-endpoints=http://10.10.0.3:8545
          - --eth1-blocks-per-log-query=150
          - --datadir=/opt/app/beacon
          - --http
          - --http-address=0.0.0.0
          - --metrics
          - --metrics-address=0.0.0.0
          - --disable-upnp
          - --validator-monitor-auto
          - --slasher
          - --slasher-dir=/opt/app/slasher
          - --slasher-max-db-size=16
          entrypoint: []
          user: "2000"
          volumes:
          - "/opt/stereum/lighthouse/beacon:/opt/app/beacon"
          - "/opt/stereum/lighthouse/slasher:/opt/app/slasher"
      become: yes
