
  .tournament{    
    height: 12px !important;
    width: 12px !important;    
    background-image: url('/img/icons/tournament.png') !important;
    background-size: cover;
    margin-right: 14px;
  }

  .league{    
    height: 12px !important;
    width: 12px !important;    
    background-image: url('/img/icons/league.png') !important;
    background-size: cover;
    margin-right: 14px;
  }

  .game {    
    height: 12px !important;
    width: 12px !important;    
    background-image: url('/img/icons/game.png') !important;
    background-size: cover;
    margin-right: 14px;
  }

  .switch {    
    min-width: 40px;
  }

/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Font and typography ==========*/
    --body-font: 'Noto Sans', sans-serif;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 180; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /*HSL color mode light
    --first-color: hsl(var(--hue-color),87.6%,67.1%);
    --first-color-second: hsl(var(--hue-color),74.6%,55.1%);
    --first-color-alt: hsl(var(--hue-color),62.6%,43.1%);
    --first-color-lighter: hsl(var(--hue-color),97.6%,80.1%);
    --title-color: hsl(var(--hue-color),8.6%,15.1%);
    --text-color: hsl(var(--hue-color),8.6%,45.1%);
    --text-color-light: hsl(var(--hue-color),8.6%,65.1%);
    --input-color: hsl(var(--hue-color),70.6%,96.1%);
    --body-color: hsl(var(--hue-color),66%,99.1%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color),12%,90.1%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,80.1%);*/

    /*HSL color mode dark*/
    --body-color: hsl(var(--hue-color),30.6%, 8.1%);
    --first-color-second: hsl(var(--hue-color),28%, 12.1%);
    --title-color: hsl(var(--hue-color),8.6%, 95.1%);
    --text-color: hsl(var(--hue-color),8.6%, 75.1%);
    --input-color: hsl(var(--hue-color),29.6%, 16.1%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --background-grey-color: hsl(var(--hue-color), 3%, 29%);
    --lang-border-color: hsl(var(--hue-color), 0%, 6%);
    --scroll-bar-color: hsl(var(--hue-color),12%, 48.1%);
    --scroll-thumb-color: hsl(var(--hue-color),12%, 36.1%);  

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 700;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-body: -1000;
    --z-background: -100;
    --z-between: -10;
    --z-normal: 0;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/

/*ToDo*/
body.dark-theme{
    /*HSL color mode*/
    --body-color: hsl(var(--hue-color),30.6%, 8.1%);
    --first-color-second: hsl(var(--hue-color),28%, 12.1%);
    --title-color: hsl(var(--hue-color),8.6%, 95.1%);
    --text-color: hsl(var(--hue-color),8.6%, 75.1%);
    --input-color: hsl(var(--hue-color),29.6%, 16.1%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color),12%, 48.1%);
    --scroll-thumb-color: hsl(var(--hue-color),12%, 36.1%);
}

/*========== Button Dark/Light ==========*/

/*ToDo*/

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{ 
    text-decoration: none;
}
/* 
img{
    max-width: 100%;
    height: auto;
} */