.tournament {
  height: 12px !important;
  width: 12px !important;
  background-image: url("/img/icons/tournament.png") !important;
  background-size: cover;
  margin-right: 14px;
}

.league {
  height: 12px !important;
  width: 12px !important;
  background-image: url("/img/icons/league.png") !important;
  background-size: cover;
  margin-right: 14px;
}

.game {
  height: 12px !important;
  width: 12px !important;
  background-image: url("/img/icons/game.png") !important;
  background-size: cover;
  margin-right: 14px;
}

.switch {
  min-width: 40px;
}
body {
  padding: 0;
  margin: 0;
}
