name: Tests Jest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  jest-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm install
        working-directory: ./launcher
      - run: npm run test:unit
        working-directory: ./launcher
