---
- name: Read SSVNetworkService config file
  slurp:
    src: "/etc/stereum/services/{{ ssv_key_service }}.yaml"
  register: ssv_config_raw

- name: Parse SSVNetworkService configuration
  set_fact:
    ssv_config: "{{ ssv_config_raw['content'] | b64decode | from_yaml }}"

- name: Generate SSV network keys
  command:
    bash -c "docker run -d --name=ssv_node_op_key -it '{{ ssv_config.image }}' /go/bin/ssvnode generate-operator-keys &&
    docker logs ssv_node_op_key --follow &&
    docker stop ssv_node_op_key &&
    docker rm ssv_node_op_key"
  register: ssv_keys
  changed_when: false
  become: yes

- name: Parse keys
  set_fact:
    ssv:
      pk: "{{ ssv_keys.stdout | regex_search('(?<=\"pk\":\\s\").*(?=\")') }}"
      sk: "{{ ssv_keys.stdout | regex_search('(?<=\"sk\":\\s\").*(?=\")') }}"

- name: Create ssv-secret/public key
  file:
    path: "/etc/stereum/services/{{ ssv_key_service }}.yaml"
    state: touch
    owner: "2000"
    group: "2000"
    mode: "0644"
  become: yes

- name: Adapt ssv-secret/public key
  blockinfile:
    path: "/etc/stereum/services/{{ ssv_key_service }}.yaml"
    block: |
      ssv_pk: "{{ ssv.pk }}"
      ssv_sk: "{{ ssv.sk }}"
  become: yes
# EOF
